{% block form_errors %}
{% if errors|length > 0 %}
 {% for error in errors %}
    <div class='alert alert-error'>
      {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
    </div>
 {% endfor %}
{% endif %}
{% endblock form_errors %}
