{% extends 'MnmUserBundle::base.html.twig' %}
{% block stylesheets %}
  {{- parent() -}}
<link rel="stylesheet" href="{{- asset('bundles/mnmuser/css/login.css') -}}" />
{#
<link rel="stylesheet" href="{{- asset('bundles/mnmuser/css/font-awesome/css/font-awesome.min.css') -}}" />
<link rel="stylesheet" href="{{- asset('bundles/mnmuser/css/social-buttons-3.css') -}}" />
#}

{% endblock %}
{% block body %}
    {{ block('fos_user_content') }}
{% endblock %}
