{% extends "MnmUserBundle::base.html.twig" %}
{% block title 'Sign in' %}
    {% block stylesheets %}
        {{- parent() -}}
        <link rel="stylesheet" href="{{- asset('bundles/mnmuser/css/login.css') -}}" />
        <link rel="stylesheet" href="{{- asset('bundles/mnmuser/css/icomoon.css') -}}" />
        <link rel="stylesheet" href="{{- asset('bundles/mnmuser/css/bootstrap-social.css') -}}" />
    {% endblock %}

    {% block body %}
        {#<div class="container-fluid">#}
        {% if error %}
            <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}

        <div class="" style="float:none;margin:0 auto;max-width: 400px">
            <h4>Sign in with your UIC netID</h4>
            <a class="btn btn-block btn-lg  btn-social btn-foursquare " href="{{ path('mnm_bluestem_login') }}"><span class="icon-uic " style="font-size: 1.2em;"></span>UIC Login Service</a>
            <h4>Sign in with your profile</h4>
{#            <a class="btn btn-block btn-lg  btn-social btn-facebook " href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"><span class="icon-facebook "></span>Sign in with Facebook</a>#}
            <a class="btn btn-block btn-lg btn-social btn-google-plus" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}"><i class="icon-google-plus"></i>Sign in with Google</a>
{#            <a class="btn btn-block btn-lg btn-social btn-flickr" href="{{ path('hwi_oauth_service_redirect', {'service': 'yahoo' }) }}"><i class="icon-yahoo"></i>Sign in with Yahoo</a>#}
            <div class="panel-group" id="accordion" style="margin-top:5px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Alternative sign in
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Username or Email"/>
                                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                                <input type="password"  class="form-control" id="password" name="_password" placeholder="Password"/>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                <input type="submit" class="btn btn-block btn-lg btn-social btn-twitter" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        {#</div>#}






    {% endblock body %}
