{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid">
    <div class="col-md-6" style="float:none;margin:0 auto">
        <form class="form-signin" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" >
    {{ form_widget(form) }}
              {#{ form_widget(form.email,{attr:{'class':'form-control','placeholder':'Email'}}) }#}

            <div>
                <br>
                <input type="submit" class="btn btn-large btn-primary btn-block" value="{{ 'registration.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>