{% trans_default_domain 'FOSUserBundle' %}
    {% include 'HomeBundle::_header.html.twig' %}
<div class="container" style="margin-top:25px">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Edit Your Profile</div>
                <div class="panel-body">


                    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
                        <div>
                            <br>
                            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-lg btn-primary btn-block"/>
                        </div>
                    </form>
                    <br>
                    <a class="btn btn-default"  href="{{url("fos_user_profile_show")}}">Go To Your profile</a>
                    <a class="btn btn-default"  href="{{url("uglab_home_default_index")}}">Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>