{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Your Profile</div>
                <div class="panel-body">
{#                    <p>{{ 'profile.show.picture_url'|trans }}: {{ user.pictureUrl }}</p>#}
                    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                    <p>{{ 'profile.show.name'|trans }}: {{ user.firstname }}  {{ user.lastname }}</p>
                    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                    <a class="btn btn-default"  href="{{url("fos_user_profile_edit")}}">Edit Yor Profile</a>
                    <a class="btn btn-default"  href="{{url("uglab_home_default_index")}}">Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>

</div>
