@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?mt5m6e');
	src:url('fonts/icomoon.eot?#iefixmt5m6e') format('embedded-opentype'),
		url('fonts/icomoon.woff?mt5m6e') format('woff'),
		url('fonts/icomoon.ttf?mt5m6e') format('truetype'),
		url('fonts/icomoon.svg?mt5m6e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uic:before {
	content: "\e60d";
}
.icon-yahoo:before {
	content: "\e60c";
}
.icon-yahoo2:before {
	content: "\e600";
}
.icon-windows8:before {
	content: "\e601";
}
.icon-windows:before {
	content: "\e602";
}
.icon-google:before {
	content: "\e603";
}
.icon-google-plus:before {
	content: "\e604";
}
.icon-google-plus2:before {
	content: "\e605";
}
.icon-google-plus3:before {
	content: "\e606";
}
.icon-google-plus4:before {
	content: "\e607";
}
.icon-facebook:before {
	content: "\e608";
}
.icon-facebook2:before {
	content: "\e609";
}
.icon-facebook3:before {
	content: "\e60a";
}
.icon-linkedin:before {
	content: "\e60b";
}
